/* Style reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* End style reset */

body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1158px;
}

/* ------- Page Header ------- */

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 1158px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  color: #2e2f42;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  margin-right: 76px;
}

.page-header-list {
  display: flex;
  gap: 40px;
}

.link-nav {
  display: block;
  padding-block: 24px;
}

.header-address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.link-nav,
.address-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.link-nav:active::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  /* border-bottom: 1px solid #404bbf; */
}

.header-address {
  font-style: normal;
}

.address-link {
  color: #434455;
}

/* ------- Order section ------- */

.section-order {
  background-color: #2e2f42;
  background-image: linear-gradient(to bottom, #2e2f42b2, #2e2f42b2),
    url(../images/order-image.jpg);
  background-size: cover;
  color: #fff;
  padding: 188px 0;
}

.section-order-title {
  max-width: 496px;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-button {
  display: block;
  margin: 48px auto;
  /* padding: 16px 32px; */
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;

  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 24px;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* ------- Strategy section ------- */

.section-strategy {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* visibility: hidden; */
}

.section-stratedy-title,
.section-our-team-title,
.section-our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.section-strategy-list {
  display: flex;
  gap: 24px;
}

.strategy-list {
  flex-basis: calc((100%-72px) / 4);
}

.strategy-list-icon {
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 5px;
}

.strategy-list-icon svg {
  margin: 24px 100px;
}

.strategy-list .list-title {
  margin-bottom: 8px;
}

/* ------- Our team section ------- */

.section-our-team {
  background-color: #f4f4fd;
  line-height: 1.11;
  padding: 120px 0;
  margin: 0 auto;
}

.section-our-team-title {
  text-align: center;
  margin-bottom: 72px;
}

.section-our-team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-our-team-list .list-el {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4216;
}

.our-team-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-link,
.social-link {
  padding: 12px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-link:hover,
.social-link:hover {
  background-color: #404bbf;
}

.our-team-link svg,
.social-link svg {
  fill: #fff;
}

.list-el {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% -72px) / 4);
}

.list-el img {
  width: 100%;
}

.list-title-info {
  padding: 32px 16px;
}

.list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.list-info {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* ------- Our portfolio section ------- */

.section-our-portfolio {
  padding: 120px 0;
}

.section-our-portfolio-title {
  margin-bottom: 72px;
}

.section-our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.our-portfolio-list-item {
  background-color: #fff;
  width: calc((100% - 48px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4216;
}

.list-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-portfolio:not(:last-child) {
  margin-bottom: 8px;
}

/* -------- Footer section -------- */

.page-footer {
  display: flex;
  gap: 120px;
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}
